
body {
    margin: 0;
}

a {
    text-decoration: none;
}

.background-img, .translucent-layer{
    position: fixed;

    height: 100%;
    width: 100%;
}

.background-img {
    z-index: 2;

    background-image: url("../images/place4.jpg");
    background-position-x: -20px; 
    background-size: 110% 110%;

    filter: blur(1.1px);
}

.translucent-layer {
    z-index: 3;

    background-color: rgba(58, 58, 58, 0.38);
}

.contents {
    position: absolute;
    z-index: 4;

    width: 100%;

    /* 임시 height */
    height: 1000px;

    /* border: 1px solid red; */
}

.top {
    position: fixed;
    right: 65px;

    margin: 8px 0 0 0;
}

.login-btn {
    padding: 2px 7px 2px 7px;

    font-size: 16px;
    color: rgba(230, 230, 230, 1);
    text-shadow: 0 0 3px rgba(222, 222, 222, 1);

    border-radius: 6px;
    /* border: 1px solid red; */
}

.login-btn:hover{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(200, 200, 200, 0.5);
}

.logo {
    margin: 160px 0 0 0;

    /* border: 1px solid red; */
}

.logo-table {
    width: 100%;

    text-align: center;

    /* border: 1px solid red; */
}

.logo-text { 
    width: 100%;

    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 7px rgba(222, 222, 222, 0.6);
    font-size: 100px;

    animation: breath-color 16s infinite;
    /* border: 1px solid red; */
}

.search {
    margin: 65px 0 0 0;

    text-align: center;

    /* border: 1px solid red; */
}

.search-bar {
    padding: 5px 10px 5px 10px;

    width: 500px;
    height: 50px;
    border-radius: 6px;

    font-size: 30px;
    color: rgba(40, 40, 40, 0.9);

    background-color: rgba(255, 255, 255, 0.5);
    border: 0px;
}

.search-bar:focus {
    border: 1px solid rgba(255, 255, 255, 0.6);
    outline: none;
}

/* .search-icon {
    padding: 10px;
    color: white;

    border: 3px solid red;
} */

@keyframes breath-color{
    0%{
        color: rgba(255, 255, 255, 0.6);
        text-shadow: 0 0 7px rgba(222, 222, 222, 0.6);
    }

    45%{
        color: rgba(255, 255, 255, 0.6);
        text-shadow: 0 0 7px rgba(222, 222, 222, 0.6);
    }

    60%{
        color: rgba(255, 255, 255, 0.1);
        text-shadow: 0 0 7px rgba(255, 255, 255, 0.1);
    }

    70%{
        color: rgba(20, 20, 20, 0.8);
        text-shadow: 0 0 7px rgba(255, 255, 255, 0.1);
    }

    75%{
        color: rgba(20, 20, 20, 0.8);
        text-shadow: 0 0 7px rgba(255, 255, 255, 0.1);
    }
}