
.login-logo{
    font-size: 50px;
}

.login-bar {
    margin: 5px 0 5px 6px;
    padding: 3px 5px 3px 5px;

    height: 20px;
    width: 200px;
    font-size: 12px;
}

.login-btn {
    width: 215px;
    height: 31px;
    font-size: 16px;

    color: gray;

    border-radius: 6px;
}

.login-btn:hover {
    color: black;
}

.login-btn:focus {
    outline: none;
}

.login-logo, .login-bars, .login-under{
    text-align: center;
    margin-top: 50px;
}

.login-logo{
    margin: 110px 0 0 0;
}