
body{
    margin-top: 0; 
    padding: 0 90px 0 75px;

    /* background-image: url("../images/item2.jpg");
    background-position: 50%;
    background-repeat: no-repeat; */
}

body::-webkit-scrollbar { 
    display: none; 
}

.href-color:hover{
   color: darkslategray; 
}

.main-item{
    height: 30px;
    padding: 10px 0 10px 0;

    /* border: 1px solid red; */
}

.store-name, .store-address{
    margin: 0 200px 0 0;

    font-size: 16px;

    /* border: 1px solid red; */
}

.store-name{
    margin-left: 15px;
}

.store-map{
    margin-right: 15px;
    float: right;
    color: rgb(42, 42, 42);
    
    /* border: 1px solid red; */
}

.base-color{
   color: black;
}

input:focus{
    outline: 0;
}
